name: build image

permissions:
  contents: read

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1

      - name: docker setup qemy
        uses: docker/setup-qemu-action@v3.7.0

      - name: setup docker buildx
        uses: docker/setup-buildx-action@v3

      - name: load 1pass
        id: load-1pass
        uses: 1password/load-secrets-action@v3
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          QUAY_USERNAME: "op://GitHub Actions/registry-creds/QUAY_USERNAME"
          QUAY_PASSWORD: "op://GitHub Actions/registry-creds/QUAY_PASSWORD"

      - name: login to quay
        uses: docker/login-action@v3.4.0
        with:
          username: "${{ steps.load-1pass.outputs.QUAY_USERNAME }}"
          password: "${{ steps.load-1pass.outputs.QUAY_PASSWORD }}"
          registry: quay.io

      - name: build and push
        uses: docker/build-push-action@v6.18.0
        with:
          platforms: linux/arm64,linux/amd64
          push: true
          tags: quay.io/activeloop/prerender:latest,quay.io/activeloop/prerender:alpine
