name: Unit Tests

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24.x
      - run: npm ci
      - run: npm test
